{% include 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% for project in projects %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{project.image.url}}" style="height:300px;" alt="">
                        <div class="card-body">
                            <h6>{{project.title}}</h6>
                            <hr>
                            <div class="media" style="background-color:white;">
                                <img src="{{project.profile.profile_photo.url}}" class="mr-3 rounded-circle" width="25px" height="25px">
                                <div class="media-body">
                                    <p class="my-0"><a href="{% url 'profile' project.user.username%}">{{project.user.get_full_name}}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
