body{
    background: #f4f7f6;
    font-family: "Oxygen",sans-serif;
}
.header{
    background-color: #f4f7f6;
    border-bottom: 1px solid #E6EAEA;
    height: 70px;
    padding-right: 0;
    z-index: 1;
}
.logo{
    display: block;
    position: absolute;
    left: 45%;
    width: auto;
}
.header-submit,.header-submit-button{
    position: relative;
    width: 190px;
    height: 70px;
    padding: 0 !important;
    line-height: 73px;
    overflow: hidden;
    margin-right: 0;
}
.button{
    position: relative;
    display: inline-block;
    background-color: #49c5b6;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    border: none;
}
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
.ui-widget{
    z-index: 99;
}
